.gallery-list {
  flex-wrap: wrap;
}

.gallery-card {
  width: calc((100% - 60px) / 3);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.gallery-image-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-image-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  opacity: 0;
  background-color: $accent-color;
  color: $secondary-text-color;
  font-size: 18px;
  line-height: 1.55;

  transform: translatey(100%);

  transition: opacity 250ms $animation-timing, transform 250ms $animation-timing;
}

.gallery-card-link:hover .gallery-image-text,
.gallery-card-link:focus .gallery-image-text {
  opacity: 0.9;
  transform: translatey(0%);
}

.gallery-card-content {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  background-color: $primary-background-color;
}

.gallery-card-title {
  margin-bottom: 4px;

  color: $primary-text-color;
  font-weight: $bold-font-weight;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-card-text {
  color: $tertiary-text-color;

  font-size: 16px;
  line-height: 1.87;
}
