.accent,
.nav-link.current,
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: $accent-color;
}

.flex {
  display: flex;
  align-items: center;
}

.logo {
  color: #000000;

  font-family: $secondary-font;
  font-size: 26px;
  font-weight: $bold-font-weight;

  &.inverse {
    color: $secondary-text-color;
  }
}
